---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="yes"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<div style="text-align: center; border-bottom: 1px solid #ffffff;">					
		<h1>Past Teams</h1>
	</div>
	<div style="text-align: center">
		<details>
			<summary>2024</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2023</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2022</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2021</summary>
			<p>
				test
			</p>
		</details>
		<details>
            <summary>2020</summary>
            <div style="display: flex; justify-content: space-between;">
                <div style="width: 45%;">
                    <p>Column 1 content goes here</p>
                </div>
                <div style="width: 45%;">
                    <p>Column 2 content goes here</p>
                </div>
            </div>
        </details>
	</div>
</Layout>

<style>
details {
    background: #070707; /* Add a background color */
    width: 80vw; /* Set a specific width */
    transition: height 0.5s ease; /* Add a transition for the height */
}

details[open] {
    height: auto; /* When the details are open, set the height to auto */
}

details summary {
    font-size: 30px; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
    background: #070707; /* Add a background color */
    cursor: pointer; /* Change the cursor to a pointer */
}

details p {
    font-size: 18px; /* Adjust as needed */
    padding: 10px; /* Add some padding */
}
</style>