<div style="text-align: center; border-bottom: 1px solid #ffffff;">
    <h1>What is MUN Concrete Toboggan?</h1>
</div>
<div style="text-align: center">
    <p>
        Concrete Toboggan is a diverse student group from the Memorial University of Newfoundland and 
        Labrador (MUN). The team includes five engineering sub-teams which are mechanical, concrete, 
        logistics, marketing, spirit and display. A team of students from various backgrounds and 
        disciplines that come together and build a concrete toboggan for the annual GNCTR.
    </p>
</div>
<div style="text-align: center; border-bottom: 1px solid #ffffff;">					
    <h1>Sub-Teams</h1>
</div>
<div style="text-align: center">
    <details>
        <summary>Mechanical Design Team</summary>
        <p>
            test
        </p>
    </details>
    <details>
        <summary>Concrete Design Team</summary>
        <p>
            test
        </p>
    </details>
    <details>
        <summary>Logistics Team</summary>
        <p>
            test
        </p>
    </details>
    <details>
        <summary>Marketing Team</summary>
        <p>
            test
        </p>
    </details>
    <details>
        <summary>Spirit/Display Team</summary>
        <p>
            test
        </p>
    </details>
</div>

<style>

details {
    margin: 1em 0;
    text-align: center;
    border-bottom: 1px solid #000;
}
summary {
    font-weight: bold;
    cursor: pointer;
}

</style>