---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="yes"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<div style="text-align: center; border-bottom: 1px solid #ffffff;">					
		<h1>Past Teams</h1>
	</div>
	<div style="text-align: center">
		<details>
			<summary>2024</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2023</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2022</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2021</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2020</summary>
			<p>
				test
			</p>
		</details>
	</div>
</Layout>

<style>
details summary {
    font-size: 30px; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
}

details p {
    font-size: 18px; /* Adjust as needed */
}
</style>