---
import Layout from '../layouts/BlogPost.astro';

import logoUrl from '../../assets/hero/will.jpeg?url';
---

<Layout
	title="About Me"
	description="yes"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<div style="text-align: center; border-bottom: 1px solid #ffffff;">					
		<h1>Past Teams</h1>
	</div>
	<div style="text-align: center">
		<details>
			<summary>2024</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2023</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2022</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2021</summary>
			<p>
				test
			</p>
		</details>
		<details>
            <summary>2020</summary>
            <div style="display: flex; justify-content: space-between; padding: 0 20px;">
                <div style="width: 45%; align-items: center;">
                    <div style="display: flex;">
                        <img src={logoUrl} alt="Image description" style="width: 200px; height: 200px;">
                        <p>William Cull-Whitten<br>Computer Engineering<br>Class of 2027</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <svg viewBox="0 0 16 16" aria-hidden="true" width="50" height="50">
                            <path fill="currentColor"
                            d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z">
                            </path>
                        </svg>
                        <!-- <a href="link_to_logo1"><img src="path_to_logo1.jpg" alt="Logo 1" style="width: 50px; height: 50px;"></a>
                        <a href="link_to_logo2"><img src="path_to_logo2.jpg" alt="Logo 2" style="width: 50px; height: 50px;"></a> -->
                    </div>
                </div>
                <div style="width: 45%;">
                    <div style="display: flex; align-items: center;">
                        <img src="path_to_your_image.jpg" alt="Image description" style="width: 50px; height: 50px;">
                        <p>Some text goes here</p>
                    </div>
                    <div>
                        <a href="link_to_logo1"><img src="path_to_logo1.jpg" alt="Logo 1" style="width: 50px; height: 50px;"></a>
                        <a href="link_to_logo2"><img src="path_to_logo2.jpg" alt="Logo 2" style="width: 50px; height: 50px;"></a>
                    </div>
                </div>
            </div>
        </details>
	</div>
</Layout>

<style>
details {
    background: #070707; /* Add a background color */
    width: 80vw; /* Set a specific width */
    transition: height 0.5s ease; /* Add a transition for the height */
}

details[open] {
    height: auto; /* When the details are open, set the height to auto */
}

details summary {
    font-size: 30px; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
    background: #070707; /* Add a background color */
    cursor: pointer; /* Change the cursor to a pointer */
}

details p {
    font-size: 25px; /* Adjust as needed */
    padding: 10px; /* Add some padding */
}
svg {
    margin-left: 130px;
    margin-bottom: 1000px;
}
</style>