---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="yes"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<div style="text-align: center; border-bottom: 1px solid #ffffff;">
		<h1>What is MUN Concrete Toboggan?</h1>
	</div>
	<div style="text-align: center">
		<p>
			Concrete Toboggan is a diverse student group from the Memorial University of Newfoundland and 
			Labrador (MUN). The team includes five engineering sub-teams which are mechanical, concrete, 
			logistics, marketing, spirit and display. A team of students from various backgrounds and 
			disciplines that come together and build a concrete toboggan for the annual GNCTR.
		</p>
	</div>
	<div style="text-align: center; border-bottom: 1px solid #ffffff;">					
		<h1>Sub-Teams</h1>
	</div>
	<div style="text-align: center">
		<details>
			<summary>2024</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2023</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2022</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2021</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>2020</summary>
			<p>
				test
			</p>
		</details>
	</div>
</Layout>

<style>
details {
	margin: 1em 0;
	text-align: center;
	border-bottom: 1px solid #ffffff;
}
summary {
	font-weight: bold;
	cursor: pointer;
}
</style>