---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

import TBOG from '../../assets/logos/tbogg.png?url';
import LinkedIn from '../../assets/contact/linkedinIcon.png?url';
import Instagram from '../../assets/logos/instagram.png?url';
---

<header>
	<nav>
		<div style="display: flex; align-items: center;">
			<div class="mobile">
				<img src={TBOG} alt="Site Logo" style="width: 100px; height: 100px; margin: 15px" />
				<h2><a href="/">{SITE_TITLE}</a></h2>
			</div>
        </div>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/teams">Team</HeaderLink>
			<HeaderLink href="/sponsorships">Sponsorship</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
		<div class="social-links" style="align-items: center">
			<a href="https://instagram.com/mun_concrete_toboggan/"><img src={Instagram} alt="Instagram Logo" style="width: 36px; height: 36px;" /></a>
			<a href="https://www.linkedin.com/company/munconcretetoboggan/mycompany/"><img src={LinkedIn} alt="LinkedIn Logo" style="width: 36px; height: 36px;" /></a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: rgb(var(--gray-dark));
		box-shadow: 0 2px 8px rgba(var(--grey-light), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	/* needs fixing */
	h2 img {
		width: 80px;
		margin-right: 10px;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	.internal-links {
		margin-left: 450px;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
		.internal-links {
			display: flex;
			margin-right: 100%;
		}
		.mobile {
			display: none;
		}
	}
</style>
